@media (max-width: 1200px) {
  .grid {
    display: grid;
    row-gap: 6.4rem;
    column-gap: 4.8rem;
  }
}

@media (max-width: 944px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    gap: 96px;
  }
  .hero-img-mobile {
    display: none;
  }
  .hero-img-desktop {
    display: inline-block;
  }
  .hero-text-box {
    margin-bottom: 0;
  }
}

@media (max-width: 550px) {
  .grid--2--cols {
    grid-template-columns: 1fr;
  }
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
  .grid {
    row-gap: 48px;
  }
  .step-img-box {
    transform: translateY(24px);
  }
}
