html {
  font-size: 62.5%;
}
@media (max-width: 944px) {
  html {
    font-size: 50%;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
}

.container {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

.grid {
  display: grid;
  row-gap: 96px;
  column-gap: 64px;
}
@media (max-width: 1200px) {
  .grid {
    display: grid;
    row-gap: 64px;
    column-gap: 48px;
  }
}
@media (max-width: 550px) {
  .grid {
    row-gap: 48px;
  }
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 550px) {
  .grid--2--cols {
    grid-template-columns: 1fr;
  }
}

.grid-center-v {
  align-items: center;
}

/*SECTION HERO */
.heading-primary {
  font-size: 52px;
  line-height: 1.05;
  margin-bottom: 32px;
  color: #333;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.working-area {
  display: flex;
  justify-content: left;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.cities-of-working {
  padding: 5px 10px;
  font-size: 15px;
  border-radius: 50px;
  background-color: #f28b82;
  border: #f28b82 solid 1px;
  font-weight: bold;
  color: #fdf2e9;
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
  font-style: normal;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 48px 0;
}

.hero-description {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.hero {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 32px;
  display: grid;
  gap: 10px;
  align-items: center;
  align-content: center;
}
@media only screen and (min-width: 768px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    gap: 96px;
  }
}

.hero-img-box {
  text-align: center;
  margin: 0 -32px;
}

.hero-img-mobile {
  width: 100%;
  max-width: 550px;
}
@media only screen and (min-width: 768px) {
  .hero-img-mobile {
    display: none;
  }
}

.hero-img-desktop {
  display: none;
  max-height: 650px;
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: contain;
}
@media only screen and (min-width: 768px) {
  .hero-img-desktop {
    display: inline-block;
  }
}

.hero-text-box {
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .hero-text-box {
    margin-bottom: 0;
  }
}

.recomendation-text {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 40px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ionicon {
  display: inline-flex;
  align-items: center;
  height: 20px;
  width: 20px;
  vertical-align: bottom;
  margin-right: 5px;
}

.phone-number {
  display: block;
  margin: auto;
  width: fit-content;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  border-radius: 50px;
  background-color: #f28b82;
  border: #f28b82 solid 1px;
  color: #fdf2e9;
}

/* SECTION HOW */
.section-how {
  padding: 60px;
}

.subheading {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 16px;
  letter-spacing: 0.75px;
}

.step-number {
  font-size: 86px;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 12px;
}

.heading-secondary {
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: 96px;
}

.heading-tertiary {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 32px;
}

.step-description {
  font-size: 20px;
  line-height: 1.4;
}

.step-img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 550px) {
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
  .step-img-box {
    transform: translateY(24px);
  }
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  background-color: #fdf2e9;
  padding-bottom: 60%;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 35%;
}

/* FOOTER */

.footer {
  padding: 80px 0;
  border-top: 1px solid #eee;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 22px;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.social-icon {
  height: 24px;
  width: 24px;
}

.footer-link:link, .footer-link:visited {
  text-decoration: none;
  font-size: 18px;
  color: #767676;
  transition: all 0.3s;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr;
}

.footer-heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
